h1 {
    text-align: center;
    color: #4B0082;

}

h2 {
    text-align: center;
    color: #8B0000;
}

img {
    display: block;
    margin: auto;
    width: 20%;
    border: black;
    border-radius: 10%;
    margin: 20px auto;
    padding: 5px;
    transition: 0.3s;
}

img:hover {
    box-shadow: 0 0 10px 3px black;
    width: 21%;
}